.carousel-wrapper {
    position: relative;
    padding-top: 75%;
    margin-bottom: var(--margin-bottom-bg);
}

.carousel-viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    overflow-y: none;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carousel-slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
}

.carousel-snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
    overflow: hidden;
}

.carousel:hover .carousel-snapper,
.carousel:focus-within .carousel-snapper {
    animation-name: none;
}

.carousel-navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.carousel-navigation-list,
.carousel-navigation-item {
    display: inline-block;
}

.carousel-navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
}

.portfolio-wrapper {
    display: grid;
    grid-gap: 5px;
    max-width: 950px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 130px);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

.clase-generica {
    position: relative;

    &:hover {
        .overlay {
            opacity: 1;
        }
    }

    a {
        width: 100%;
        height: 100%;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: 0.5s ease;
        background-color: #26262657;
        pointer-events: none;
    }

    .text {
        color: white;
        background-color: transparent;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

    > :first-child {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 5;
        cursor: pointer;
    }

    > :nth-child(2) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 8;
    }

    > :nth-child(3) {
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: 5;
        grid-row-end: 8;
    }
}
