.main-content {
    min-height: 100%;
    .skills-text {
        margin: 50px 0;
        font-size: 18px;
        line-height: 21px;
    }
    .skills-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-bottom: 70px;

        h1 {
            text-transform: uppercase;
            font-family: var(--secondary-font);
            margin-bottom: 50px;
        }
        .chart-wrapper {
            display: flex;
            justify-content: space-between;
        }
    }

    .pie-chart-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            margin-bottom: 0;
            font-weight: 600;
        }

        .svg-wrapper {
            $dash-value: 400;
            position: relative;
            transform: rotate(-90deg);
            margin-bottom: 15px;

            .pie-chart {
                display: block;
                height: $chart-size;
                @include chart-animation($dash-value);

                .pie-chart-center {
                    fill: #261300;

                    &.is-ps {
                        fill: #001e36;
                    }
                }

                .pie-chart-border {
                    stroke: #ff7c00;

                    &.is-ps {
                        stroke: #31a8ff;
                    }
                    stroke-dasharray: $dash-value;
                    stroke-dashoffset: $dash-value;
                    animation: dash 5s linear forwards;
                }
            }
        }
    }
}
