.main-content {
    min-height: 100%;
    margin-bottom: var(--navbar-height);

    .skills-text {
        margin: 50px 0;
        font-size: 16px;
        line-height: 21px;
        background-color: white;
        padding: 20px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            border: 1px solid #000;
            bottom: -15px;
            z-index: -1;
            left: 15px;
            width: 100%;
            height: 100%;
        }

        @media #{$mobile-only} {
            max-width: 320px;
            margin: 30px;
        }
    }

    .skills-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-bottom: 70px;

        @media #{$mobile-only} {
            margin: 50px;
        }

        h1 {
            text-transform: uppercase;
            font-family: var(--secondary-font);
            margin-bottom: 50px;
        }

        .chart-wrapper {
            display: flex;
            justify-content: space-between;

            @media #{$mobile-only} {
                flex-direction: column;
            }
        }
    }

    .pie-chart-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media #{$mobile-only} {
            margin-bottom: 60px;
        }
        p {
            margin-bottom: 0;
            font-weight: 600;
        }

        .svg-wrapper {
            $dash-value: 400;
            position: relative;
            transform: rotate(-90deg);
            margin-bottom: 15px;

            .pie-chart {
                display: block;
                height: $chart-size;
                @include chart-animation($dash-value);

                .pie-chart-center {
                    fill: #181f3b;
                }

                .pie-chart-border {
                    stroke: #100823;
                    stroke-dasharray: $dash-value;
                    stroke-dashoffset: $dash-value;
                    animation: dash 5s linear forwards;
                }
            }
        }
    }
}
