:root {
    --svg-height: 120px;
}

footer {
    background-color: #000;

    .inner-footer {
        max-width: 950px;
        border-top: 1px solid #000;
        padding-top: 20px;
        margin: 0 auto;

        h1 {
            margin: 35px 0 60px 0;
            color: #fff;
            font-size: 25px;
            font-family: var(--secondary-font);
            letter-spacing: 2px;
        }

        p {
            margin-bottom: var(--svg-height);
        }

        .mail-link {
            text-decoration: none;
            color: #fff;
            position: relative;

            &::before {
                @include underlineElement(#FFF);
            }
        }

        .mail-link:hover,
        .mail-link:visited {
            &::before {
                transform-origin: left;
                transform: scale(1);
            }
        }
    }

    svg {
        display: block;
        height: var(--svg-height);

        .cls-1 {
            fill: rgb(239, 233, 228);
        }
    }
}
