*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primary-color);
}

h1, h2, h3 {
    font-family: var(--primary-font);
    margin-bottom: 10px;
}

p {
    font-family: var(--secondary-font);
}

.main-content {
    width: 100%;
    height: 100%;
    max-width: 950px;
    min-height: 100vh;
    margin: auto;

}
