*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
    font-family: var(--secondary-font);
    line-height: 1.1;
}

h1,
h2,
h3 {
    font-family: var(--primary-font);
    margin-bottom: 12px;
    letter-spacing: 1.5px;
}

p {
    font-family: var(--secondary-font);
    margin-bottom: 12px;
    user-select: none;
}

.main-content {
    width: 100%;
    height: 100%;
    max-width: 950px;
    min-height: 100vh;
    margin: auto;

    // @media #{$mobile-only} {
    //     margin-left:25px;
    //     margin-right:25px;
    // }
}

ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
