@mixin chart-animation($dash-value) {
    @for $i from 1 through 4 {
        $percentage: 100 - $i * 25;

        @keyframes chart-#{$i * 25} {
            to {
                stroke-dashoffset: $dash-value * $percentage / 100;
            }
        }

        &.chart-#{$i * 25} .pie-chart-border {
            animation: chart-#{$i * 25} linear forwards 500ms;
        }
    }
}

$chart-size: 200px;
$chart-color: #0a0f1c;
