:root {
    --navbar-height: 120px;
}

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--secondary-font);
    padding: 0 60px;
    height: var(--navbar-height);

    .logo {
        font-size: 30px;
        letter-spacing: 2px;
        font-family: var(--primary-font);
    }

    ul {
        display: flex;

        li {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: -5px;
                width: 100%;
                height: 1px;
                background-color: #000;
                transition: transform ease 200ms;
                transform: scale(0, 1);
                transform-origin: right;
            }

            + li {
                margin-left: 15px;
            }
        }

        li:hover {
            color: black;

            &::before {
                transform-origin: left;
                transform: scale(1);
            }
        }

        li:visited {
            color: black;
        }
    }

    a {
        text-decoration: none;

        &:visited {
            color: black;
        }
    }
}
