// Colors
// --------------------------------------------

:root {
    --primary-color: #efe9e4;
}


// fonts
// --------------------------------------------

:root {
    --primary-font: 'Abril Fatface', cursive;
    --secondary-font: 'Source Sans Pro', sans-serif;
}
